<h1>Pandas Reintro</h3>

<h3>Pandas Series</h3>

In [2]:
import pandas as pd
import numpy as np

In [3]:
labels = ['a', 'b', 'c']
mylist = [10, 20, 30]
arr = np.array(mylist)
d = {
    'a': 10,
    'b': 20,
    'c': 30
}

In [4]:
d_series = pd.Series(d)
d_series

a    10
b    20
c    30
dtype: int64

In [5]:
salesQ1 = pd.Series(data=[250, 450, 200, 150], index=['USA', 'China', 'India', 'Brazil'])
salesQ1

USA       250
China     450
India     200
Brazil    150
dtype: int64

In [6]:
salesQ2 = pd.Series(data=[210, 480, 220, 130], index=['USA', 'China', 'India', 'Japan'])
salesQ2

USA      210
China    480
India    220
Japan    130
dtype: int64

In [7]:
salesQ2['China']

480

In [8]:
salesQ1 + salesQ2

Brazil      NaN
China     930.0
India     420.0
Japan       NaN
USA       460.0
dtype: float64